<!-- head -->
<div class="mb-12">
  <div class="flex place-content-between items-center mt-7 ml-16 mr-16">
    <img class="w-[130px]" src="../../assets/logo car hub.svg" alt="" />
    <button
      class="w-[130px]  bg-blue-600 h-[45px] text-white font-normal  rounded-full"
    >
      Sign In
    </button>
  </div>

  <div class="grid grid-cols-2">
    <!-- left side -->
    <div class="ml-16">
      <p class="text-[64px] font-semibold mt-[60px]">
        Find, book, or<br />
        rent a car —<br />
        quickly and <br />
        easily!
      </p>
      <p class="text-[27px] font-light">
        Streamline your car rental experience <br />
        with our effortless booking process.
      </p>
      <button
      class="w-[130px] bg-blue-600  h-[45px] text-white mt-8 rounded-full"
    >
      Explore Cars
    </button>
    </div>
    <!-- right side -->
    <div class="">

         <img class="w-[650px]  absolute" src="../../assets/big car foto.webp" alt="" />
         <img src="../../assets/hero-bg.png" alt="">
     
    </div>
  </div>
</div>
