<div class="footer">
  <!-- LEFT SIDE -->
  <div class="w-[510px]">
    <img class="w-[130px] mb-5" src="../../assets/logo car hub.svg" alt="" />
    <p class="text-[16px]">Carhub 2023</p>
    <p class="text-[16px]">All rights reserved ©</p>
  </div>
  <!-- right side -->
  <div class="footer1">
    <div class="flex flex-col gap-5">
      <h3 class="font-semibold">About</h3>
      <p>How it works</p>
      <p>Featured</p>
      <p>Partnership</p>
      <p>Business Relation</p>
    </div>
    <div class="flex flex-col gap-5">
      <h3 class="font-semibold">Company</h3>
      <p>Events</p>
      <p>Blog</p>
      <p>Podcast</p>
      <p>Invite a friend</p>
    </div>
    <div class="flex flex-col gap-5">
      <h3 class="font-semibold">Socials</h3>
      <p>Discord</p>
      <p>Instagram</p>
      <p>Twitter</p>
      <p>Facebook</p>
    </div>
  </div>
</div>
<div class="footer3">
  <p>@2023 CarHub. All Rights Reserved</p>
  <div class="flex gap-5">
    <p>Privacy Policy</p>
    <p>Terms of Use</p>
  </div>
</div>
