<div *ngIf="car">
  <div
    class="h-[389px] w-[381px] shadow-md group bg-[rgba(59,60,152,.03)] rounded-3xl hover:bg-white"
  >
    <p class="text-[22px] font-semibold ml-[20px] pt-[20px]">
      {{ car.make }} {{ car.model }}
    </p>
    <p class="flex mt-6 text-[32px] ml-[20px]">
      <span class="self-start text-[14px] font-semibold">$</span>
      {{ car.combination_mpg }}
      <span class="self-end text-[14px] font-medium">/day</span>
    </p>
    <img class="w-[300px] ml-12" src="../../assets/infiniti.webp" alt="" />
    <!-- LITLE ICONS -->
    <div class="grid grid-cols-3 ml-[70px] mb-5 group-hover:hidden">
      <DIV>
        <img
          class="w-[20px] h-[20px] ml-[22px]"
          src="../../assets/wheel.svg"
          alt=""
        />
        <p class="text-[14px] mt-[6px]">
          {{ getTransmissionText(car.transmission) }}
        </p>
      </DIV>
      <div>
        <img
          class="w-[20px] h-[20px] ml-1"
          src="../../assets/tire.svg"
          alt=""
        />
        <p class="text-[14px] mt-[6px]">{{ car.drive | uppercase }}</p>
      </div>
      <div>
        <img
          class="w-[20px] h-[22px] ml-[14px]"
          src="../../assets/gas.svg"
          alt=""
        />
        <p class="text-[14px] mt-[6px]">{{ car.combination_mpg }} MPG</p>
      </div>
    </div>
    <div class="hidden place-content-center items-center group-hover:flex">
      <button
        (click)="openCarModal()"
        class="bg-blue-600 text-white text-[14px] font-semibold flex place-content-center items-center w-[300px] h-[40px] rounded-full"
      >
        View More
      </button>
    </div>
  </div>
</div>
